.main{
    width: 225px;
    padding: auto;

}

.main img{
    width: 20px;
    height: 20px;
}
.bg-color{
    padding: 2px;
  }
  button:hover{
    box-shadow: 0px 0px 1px grey;
    background-color: #e8e8e8;
  }