<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 220px;">
    <img src="../../../assets/add_alert.svg" style="width:20px; height: 20px;" alt="bell">
    <img src="../../../assets/image_i.svg" style="width:20px; height: 20px;" alt="">
    <img src="../../../assets/palette.svg" style="width:20px; height: 20px;" alt="">
    <img src="../../../assets/perm_contact.svg" style="width:20px; height: 20px;" alt="">
    <img src="../../../assets/archive.svg" style="width:20px; height: 20px;" alt="">
    <img src="../../../assets/more_vert.svg" style="width:20px; height: 20px;" alt="">
</div>
