<div class="main" fxLayout="row" fxLayoutAlign="space-between center" >
    <button mat-icon-button><img src="../../../assets/add_alert.svg"  alt=""></button>
    <button mat-icon-button><img src="../../../assets/image_i.svg"  alt=""></button>
    <button mat-icon-button><img src="../../../assets/palette.svg"  alt=""></button>
    <button mat-icon-button><img src="../../../assets/perm_contact.svg"  alt=""></button>
    <button mat-icon-button> <img src="../../../assets/archive.svg"  alt=""></button>
    
    
    
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon><img src="../../../assets/more_vert.svg"  alt=""></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
         <span>Delete note</span>
        </button>
        <button mat-menu-item >
          <span>Add label</span>
        </button>
        <button mat-menu-item>
          <span>Add drawing</span>
        </button>
        <button mat-menu-item>
            <span>Make a copy</span>
        </button>
        <button mat-menu-item>
            <span>Show checkboxex</span>
        </button>
      </mat-menu>
      

</div>