<div fxLayout="column" fxLayoutAlign="center center" class="mainlogin">
    <div class="Lcontainer">
        <div fxLayout="column" fxLayoutAlign="center center ">
            <h5 style="font-size: 30px; font-style: inherit">
                <span style="color: rgb(8, 115, 111)">F</span>
                <span style="color: rgb(216, 65, 65)">u</span>
                <span style="color: rgb(219, 154, 32)">n</span>
                <span style="color: rgb(209, 26, 117)">d</span>
                <span style="color: rgb(142, 151, 14)">o</span>
                <span style="color: rgb(39, 193, 78)">o</span>
                <span style="color: rgb(14, 197, 213)">N</span>
                <span style="color: rgb(203, 78, 15)">o</span>
                <span style="color: rgb(22, 111, 99)">t</span>
                <span style="color: rgb(102, 9, 164)">e</span>
            </h5><br>
            <h1>Change password</h1>
        </div>
         <div fxLayout="row" fxLayoutAlign="start start">
            <h3>Create a strong password</h3>
         </div>
         <div fxLayout="row" fxLayoutAlign="start start">
            <h4>Create a new, strong password that you don’t use for other websites</h4>
         </div>


        <div fxLayout="column" fxLayoutAlign="center">
            <mat-form-field appearance="outline">
                <mat-label>Create password</mat-label>
                <input matInput placeholder="Create password">
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="center">
            <mat-form-field appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput placeholder="Confirm">
            </mat-form-field>
        </div>

        <div style="margin-top: -15px;font-size: small;">
            <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
        </div><br>
        <input type="checkbox" name="" class="checkbox">
        &nbsp;Show password
        <br><br><br>

        <div class="b-links" ng-submit="submit()" fxLayout="row" fxLayoutAlign="space-between center" >
            <a href="#">Skip</a>
            <button class="btn" onclick="next()">Save password</button>
        </div>

    </div>
</div>
