<div fxLayout="column" fxLayoutAlign="center center" class="mainlogin">
    <div class="Lcontainer">
        <div fxLayout="column" fxLayoutAlign="center center ">
            <h5 style="font-size: 30px; font-style: inherit">
                <span style="color: rgb(8, 115, 111)">F</span>
                <span style="color: rgb(216, 65, 65)">u</span>
                <span style="color: rgb(219, 154, 32)">n</span>
                <span style="color: rgb(209, 26, 117)">d</span>
                <span style="color: rgb(142, 151, 14)">o</span>
                <span style="color: rgb(39, 193, 78)">o</span>
                <span style="color: rgb(14, 197, 213)">N</span>
                <span style="color: rgb(203, 78, 15)">o</span>
                <span style="color: rgb(22, 111, 99)">t</span>
                <span style="color: rgb(102, 9, 164)">e</span>
            </h5><br>
            <h1>Find your email</h1>
            <h3>Enter your phone number or recovery email </h3>
        </div>

        <div fxLayout="column" fxLayoutAlign="center">
            <mat-form-field appearance="outline">
                <mat-label>Email or phone</mat-label>
                <input matInput placeholder="Email or phone">
            </mat-form-field>

        </div><br>

        <div fxLayout="column" fxLayoutAlign="end end">
            <button>Next</button>
        </div>

    </div>
</div>