<div fxLayout="column" fxLayoutAlign="center" class="main" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="center" class="mainContainer">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="container1">
                <div>
                    <h3 style="font-size: 30px; font-style: inherit">
                        <span style="color: rgb(8, 115, 111)">F</span>
                        <span style="color: rgb(216, 65, 65)">u</span>
                        <span style="color: rgb(219, 154, 32)">n</span>
                        <span style="color: rgb(209, 26, 117)">d</span>
                        <span style="color: rgb(142, 151, 14)">o</span>
                        <span style="color: rgb(39, 193, 78)">o</span>
                        <span style="color: rgb(14, 197, 213)">N</span>
                        <span style="color: rgb(203, 78, 15)">o</span>
                        <span style="color: rgb(22, 111, 99)">t</span>
                        <span style="color: rgb(102, 9, 164)">e</span>
                    </h3>
                </div>

                <div style="margin-bottom: 20px;"> <span style="font-size: 20px;">Create your FundooNote account</span>
                </div>

                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input formControlName="FirstName" matInput placeholder="" />
                        <mat-error>Enter first name</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="LastName" matInput placeholder="" />
                        <mat-error>Enter last name</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input formControlName="Email" matInput placeholder="" />
                        <mat-error>Enter valid email</mat-error>
                    </mat-form-field>
                    <span class="style"> You can use letters, numbers & periods</span>
                    <a href="#">Use my current email address instead</a>
                </div><br>
                
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
                    <mat-form-field appearance="outline">
                        <mat-label>password</mat-label>
                        <input formControlName="Password" matInput  placeholder="" />
                        <mat-error>Enter password</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>confirm password</mat-label>
                        <input formControlName="ConfirmPassword" matInput 
                            placeholder="" />
                        <mat-error>Enter password again</mat-error>
                    </mat-form-field>
                </div><br>  

                <div style="margin-top: -15px;font-size: small;">
                    <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                </div>
                <input type="checkbox" name="" class="checkbox">
            &nbsp;Show password

                <div class="b-links" fxLayout="row" fxLayoutAlign="space-between center">
                    <a routerLink="/login" href="#">Sing in Instead</a>
                    <button mat-raised-button color="primary">Next</button>
                </div>

            </div>

        </form>
        <div class="container2" fxLayout="column" fxHide.xs="true" fxLayoutAlign="center center">
            <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="img" class="image" />
            <span style="text-align: center;">One account. All of Google working for you.</span>
        </div>
    </div>
</div>