<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <div>
            <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-between center" >
                <img id="logo" src="../../../assets/fundoo.png" style="width: 50px ;height:40px"
                    alt="img" />

                <h2 class="example-app-name" fxLayoutAlign="center center">
                    <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="end center">
                        <span id="title">FundooNote</span>
                    </mat-card-title>
                </h2>
            </div>
        </div>


        <div class="searchdiv" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" fxFlex="90">
                <button mat-icon-button class="search-button">
                    <mat-icon id="search" matTooltip="Search">search</mat-icon>
                </button>

                <input fxFlex="50" matInput placeholder="Search" [style.fontSize.px]="18" class="search-window"
                    autocomplete="off" type="text" />
            </mat-form-field>
        </div>
        <div fxFlex="20" class="settingbtn" div fxLayout="row" fxLayoutAlign="end end">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <img src="./../../../assets/refresh.svg" alt="img" class="icon">
            </button>
        </div>&nbsp;&nbsp;
        <div fxflex="20"> <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <img src="./../../../assets/view_agenda.svg" alt="img" class="icon">
        </button>
        </div>&nbsp;&nbsp;
        <div fxflex="20">  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <img src="./../../../assets/settings.svg" alt="img" class="icon">
        </button>
        </div>&nbsp;&nbsp;
        <div fxflex="20">  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <img src="./../../../assets/apps.svg" alt="img" class="icon">
        </button>
        </div>&nbsp;&nbsp;
        <div fxflex="20">  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <img src="./../../../assets/profile.svg" alt="img" class="icon">
        </button>
        </div>
       


    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="/dashboard/notes">
                    <div class="icon1" id="side-icons"> <img src="../../../assets/lightbulb.svg" alt=""></div>Notes
                </a>
                <a mat-list-item routerLink="/dashboard/reminder">
                    <div class="icon1" id="side-icons"><img src="../../../assets/notifications.svg" alt=""></div>
                    Reminders
                </a>
                <a mat-list-item routerLink="/dashboard/editlable">
                    <div class="icon1" id="side-icons"><img src="../../../assets/edit.svg" alt=""></div>Edit labels
                </a>
                <a mat-list-item routerLink="/dashboard/archive">
                    <div class="icon1" id="side-icons"><img src="../../../assets/archive.svg" alt=""></div>Archive
                </a>
                <a mat-list-item routerLink="/dashboard/trash">
                    <div class="icon1" id="side-icons"><img src="../../../assets/delete.svg" alt=""></div>Trash
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>