<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div fxHide.xs >
        </div>
        <img src="../../../assets/fundoo.png" alt="img" class="logo">
        <h1 class="example-app-name" ngClass.sm="example-app-name-sm" ngClass.xs="example-app-name-xs">FundooNote</h1>

        <div class="searchdiv" fxLayout="row" fxLayoutAlign="space-between center" >
            <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" fxFlex=100>
                <button mat-icon-button class="search-button">
                    <mat-icon id="search" matTooltip="Search">search</mat-icon>
                </button>

                <input fxFlex="50" matInput placeholder="Search" [(ngModel)]="searchString" [style.fontSize.px]="18"
                    (keyup)="searchNote($event)" class="search-window" autocomplete="off" type="text" fxFlex=100 />
            </mat-form-field>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div fxLayout="row" fxLayoutAlign="end center" fxFlex=100>
            <div  fxLayout="row" fxLayoutAlign="end center" >
                <div class="icon" (click)="reloadCurrentPage()" fxFlex=33 >
                    <img src="../../../assets/refresh.svg">
                </div>&nbsp;&nbsp;&nbsp;
                <div class="icon" (click)="list()" *ngIf="gridView" fxFlex=33>
                    <img src="../../../assets/view_agenda.svg">
                </div>
                <div class="icon" (click)="grid()" *ngIf="!gridView" fxFlex=33>
                    <img src="../../../assets/grid_view.svg">
                </div>&nbsp;&nbsp;&nbsp;
                <div class="icon" fxFlex=33 fxHide.xs >
                    <img src="../../../assets/settings.svg">
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="icon" fxFlex=33 fxHide.xs>
                    <img src="../../../assets/apps.svg" >
                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                <div (click)="logout()" routerLink="./login" class="icon" 
                fxFlex=33 >
                    <img src="../../../assets/profile.svg">
                </div>
            </div>
        </div>
    </mat-toolbar>



    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list class="pic">
                <div flexLayout="row" fxLayoutAlign="space-between center">
                    <img src="../../../assets/lightbulb.svg" alt="">
                    <a mat-list-item routerLink="/dashboard/notes">Notes</a>
                </div>

                <div flexLayout="row" fxLayoutAlign="space-between center">
                    <img src="../../../assets/notifications.svg" alt="">
                    <a mat-list-item routerLink=".">Reminders</a>
                </div>

                <div flexLayout="row" fxLayoutAlign="space-between center">
                    <img src="../../../assets/edit.svg" alt="">
                    <a mat-list-item routerLink=".">Edit Label</a>
                </div>

                <div flexLayout="row" fxLayoutAlign="space-between center">
                    <img src="../../../assets/archive.svg" alt="">
                    <a mat-list-item routerLink="/dashboard/archive">Archive</a>
                </div>

                <div flexLayout="row" fxLayoutAlign="space-between center">
                    <img src="../../../assets/delete.svg" alt="">
                    <a mat-list-item routerLink="/dashboard/trash">Trash</a>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>