.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
 
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

  }
  .logo{
    width:35px;
  }

  .icon1{
    display: flex;
    height: 42px;
    width: 42px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    box-sizing: border-box;
    display: inline-block;
  
  }
  .icon1:hover{
    // background-color: rgba(245, 243, 241, 0.925);
    border-radius: 20px;
    cursor: pointer;
  }
  .icon1 > img{
    height: 30px;
    margin-top: 5px;
  }

  
  .searchdiv{
    width: 50%;
    margin-left: 70px;
    height: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #search {
    opacity: 0.8;
  }
  .search {
    border-radius: 10%;
    width: 50%;
    background: rgba(0, 0, 0, 0.02);
  }

  .settingbtn{
    margin-left: 20px;
    padding-left: 0%;
    border:none;
   
  }
  .icon{
    display: flex;
    height: 25px;
    width: 25px;
    display: inline-block;
    // background-color: #FFFFFF;
    border:none;
    border: none!important;
  outline: none;
  padding-right: -10px;
 
  }
  .icon:hover{
    background-color: rgba(245, 243, 241, 0.925);
    // border:white;
    cursor: pointer;
   
  }
  .icon > img{
    height: 25px;
    margin-top: 5px;
    padding-right: 10px;
  }
  .header-icons{
    height: 25px;
    margin-top: 5px;
  }
  .icons > img{
    height: 25px;
    margin-top: 5px;
  }

  .pic img{
    width: 25px;
     height:25px;
  }

  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .searchdiv-xs,.searchdiv-sm{
    visibility: hidden;
  }
  .icon-sm,.icon-xs{
    margin: 0%;
    width: 10%
  }