.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

  }
  .icon1{
    display: flex;
    height: 42px;
    width: 42px;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    box-sizing: border-box;
    display: inline-block;
  
  }
  .icon1:hover{
    // background-color: rgba(245, 243, 241, 0.925);
    border-radius: 20px;
    cursor: pointer;
  }
  .icon1 > img{
    height: 30px;
    margin-top: 5px;
  }

  
  .searchdiv{
    padding-top: 5px;
    display: flex;
    width: 700px;
    margin-left: 70px;
    box-shadow: 2px 2px 5px #E8E8E8;
    border: 1px solid transparent;
    border-radius: 8px;
    
  }
  #search {
    display: flex;
    opacity: 0.8;
    
  }
  .search {
    border-radius: 10%;
    width: 50%;
    border: 0px white; 
  background: none;
  }

  .settingbtn{
    margin-left: 20px;
    padding-left: 0%;
    border:none;
   
  }
  .icon{
    display: flex;
    height: 25px;
    width: 25px;
    display: inline-block;
    // background-color: #FFFFFF;
    border:none;
    border: none!important;
  outline: none;
 
  }
  .icon:hover{
    background-color: rgba(245, 243, 241, 0.925);
    // border:white;
    cursor: pointer;
   
  }
  .icon > img{
    height: 25px;
    margin-top: 5px;
  }
  
  

  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }