.gridnote{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    height:auto;
    background-color:#fff;
    padding-left: 20px;
    padding-top: 20px;
    
   
}
.outerdiv{
    margin-left: 10px;
    margin-top: 10px;
    width: 240px;
}
.notecard{
    border: 1px solid rgba(136, 130, 130, 0.389);
    box-shadow: 5px 1px 5px 1px rgb(223, 221, 221);
    width: 97%;
    border-radius: 3px;
}

.insidenote{
    margin: 10px;
    width: 180px;
    height: 100px;
}
.insidenote-list{
    margin: 10px;
    width: 300px;
    height: 120px;
}
.note{
    margin-left: 8px;
}

.notepart{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.listnote{
    background-color:#fff;
    height: 600%;
    padding-top: 500px;
} 
.external{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 37%;
    width: 27%;
    height:20%;
    margin-top:5%;
    margin-bottom:5%;
    
}
.container{
    // margin-left: 20px;
    margin-top: 20px;
    height: auto;
    width: 170%;
    background-color:#fff;
    padding:2%;
    margin: 2%;
}

.icons > img{
    height: 22px;
    margin-top: 5px;
}
.icons{
    display: flex;
    height: 42px;
    width: 42px;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
}