<div class="gridnote" *ngIf="isGrid" fxLayoutAlign="start center" ngClass.xs="container-xs" ngClass.md="gridnote-md" ngClass.sm="gridnote-sm">
    <div class="outerdiv" fxLayout="row" fxLayoutAlign="start start" *ngFor="let note of childMessage | filter: message">
        <div class="notecard" [style.background]="note.colour">
            <div class="insidenote">
                <div class="note" (click)="openDialog(note)">
                    <div class="notepart" fxLayout="coloumn" fxLayoutAlign="space-between center">
                        <h3> {{note.title}}</h3>     
                    </div>
                    <div>{{note.description}}</div>
                </div>
                <div class="icons">
                    <app-icons [noteObj]="note" (changeNoteEvent)="iconRefresh($event)"></app-icons>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- {{note.title}} is template expression -->


<div class="listnote" *ngIf="!isGrid" ngClass.xs="listnote-xs" ngClass.md="listnote-md">
    <div class="external" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="container" fxLayout="column" fxLayoutAlign="start start"
            *ngFor="let note of childMessage | filter: message">
            <div class="notecard" [style.background]="note.colour">
                <div class="insidenote-list">
                    <div class="note" (click)="openDialog(note)">
                        <div class="notepart" fxLayout="row" fxLayoutAlign="space-between start">
                            <h3> {{note.title}}</h3>
                        </div>
                        <h4>{{note.description}}</h4>

                    </div>
                    <div class="icons">
                        <app-icons [noteObj]="note" (changeNoteEvent)="iconRefresh($event)"></app-icons>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>