<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" class="style">
        <mat-card>
            <div *ngIf="isShow" class="title">
                <input type="text" placeholder="Title" [(ngModel)]="title"> 
            </div>
            <div *ngIf="isShow || !isShow" (click)="show()" class="desc">
                <input type="text" placeholder="Take a note" [(ngModel)]="description">
            </div>
            <div *ngIf="isShow" fxLayout="row" fxLayoutAlign="space-between center">
                <app-icons></app-icons>
                <button (click)="close()" mat-button>Close</button>
            </div>
        </mat-card>
    </div>
</div>
