.title input {
    width: 520px;
    height: 20px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

}

.desc input {
    width: 520px;
    height: 20px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.style {
    border-radius: 8px;
    width: 600px;
    padding: 20px;
}