.main{
    // margin: 30px 22%;
    padding: 30px;
}

.mainContainer{
    border: 2px solid rgb(228, 220, 220);
    border-radius: 7px;
    padding: 20px;
    padding-bottom: 10%;
}

mat-form-field.mat-form-field {
    font-size: 14px;
  }