<div class="Outerdiv">
<div fxLayout="column" fxLayoutAlign="center center" class="mainlogin">
    <div class="Lcontainer">
        <div fxLayout="column" fxLayoutAlign="center center ">
            <h3 style="font-size: 20px; font-style: inherit">
                <span style="color: rgb(8, 115, 111)">F</span>
                <span style="color: rgb(216, 65, 65)">u</span>
                <span style="color: rgb(219, 154, 32)">n</span>
                <span style="color: rgb(209, 26, 117)">d</span>
                <span style="color: rgb(142, 151, 14)">o</span>
                <span style="color: rgb(39, 193, 78)">o</span>
                <span style="color: rgb(14, 197, 213)">N</span>
                <span style="color: rgb(203, 78, 15)">o</span>
                <span style="color: rgb(22, 111, 99)">t</span>
                <span style="color: rgb(102, 9, 164)">e</span>
            </h3>
            <h1>Sign in</h1>
            <h3>Use your Google Account </h3>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div fxLayout="column" fxLayoutAlign="center">
                <mat-form-field appearance="outline">
                    <mat-label>Email or phone</mat-label>
                    <input formControlName="email" matInput placeholder="" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>password</mat-label>
                    <input formControlName="password" matInput placeholder="" />
                    <!-- <mat-hint>Enter valid password</mat-hint> -->
                    <!-- <mat-error>Enter password</mat-error> -->
                </mat-form-field>
                <a routerLink="/forgot-password" href="#">Forgot password?</a>

            </div>
           

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-hint class="style">Not your computer? Use Guest mode to sign in privately. <a href="#">Learn
                        more</a></mat-hint>

            </div><br>

            <div class="b-links" fxLayout="row" fxLayoutAlign="space-between center">
                <a routerLink="/register" href="#">Create account</a>
                <button routerLink="/dashboard" >Next</button>
            </div>

        </form>
    </div>
</div>
</div>