.note{
    width: 1200px;
    border-spacing: 10px;
   box-shadow: 0.2rem gray;
   padding-left: 60px ;

    }
    
    .title{
    width:200px;
     max-width: 800px;
     border: none !important;
     background-color: transparent;
    }
    
    .desc{
        width:200px;
        margin-bottom: 10px;
        border: none !important;
        background-color: transparent;
    }
    
    .icon{
    padding-left: -20px;
    }
    .button{
        border: none;
        outline: none;
        cursor: pointer;
    }