<div class="main" fxLayout="row" fxLayout="row wrap" fxLayoutAlign="space-between center" [style.background]="data.colour" fxFlex=100>
   <div fxLayout="column" fxLayoutAlign="space-between center"   >
        <div  class="title">
            <input type="text" placeholder="Title" [(ngModel)]="title">
        </div>&nbsp;
        <div class="desc">
            <input type="text" placeholder="Take a note" [(ngModel)]="description">
        </div>
    </div><br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <app-icons [noteObj]="data" (changeNoteEvent)="iconRefresh($event)"></app-icons>&nbsp;
            <button  mat-button (click)="onSubmit()">Close</button>
        </div>
</div>